[workspace]
resolver = "2" # Good practice for modern workspaces
members = [
    "hdr_analyzer_mvp", "mkvdolby",
    "verifier",
]

# Optional: Define shared release profile for smaller, faster binaries
[profile.release]
lto = "fat"
codegen-units = 1
strip = true
panic = "abort"
